//02_nesting.scss 한줄주석

/* 여러줄 주석 
nesting 중첩
*/
@import url(./reset.css);

body {
    background: ivory;
}

header {
    display: flex;
    padding: 2vw 4vw;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

    h1 {
        flex: 1 1 30%;

        a{
            color: red;
            font-size: 24px;
        }
        :hover{
            color: green;
        }
    }

    nav {
        flex: 1 1 50%;
    }

    button {
        flex: 1 1 10%;
    }

    ul {
        display: flex;
        width: 80%;
    }

    ul li {
        flex: 1 1 30%;
    }

    ul ul {
        display: block;
    }
}



main {
    padding: 2vw 4vw;
}

.section1 {
    &-box {
        background: #c9c9c9;
        max-width: 500px;
        margin: auto;
        display: flex;
        border-radius: 8px;
        border: 4px solid #d5d5d5;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

        &>.section1-item {
            width: 30%;
            display: flex;
            flex-direction: column;
            padding: 1vw;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
            border: 4px solid #6361e7;
        }

        span:nth-child(1) {
            color: #333;
            font-size: 32px;
        }
    
        @at-root span:nth-child(2) {
            color: #333;
            font-size: 24px;
        }
        //아래는 안됨
        //& 상위의 부모선택자를 지정
        @at-root &-para{
            color: aquamarine;
        }
    }

    

    


}