/* 
모듈 : 연관성 있는 프로그램끼리 묶은 것(최소단위로 저장)
mixin - 같은 속성에 다른 값
    h4{color : red, blue;
        font-size: 15px, 25px;}
extend - 완전 똑같은거 계속 씀
    font-family : 'noto sans'...;
    font-family : 'arial'...;
*/

/* mixin 기본문법
@mixin 이름(매개변수){} - 선언
@include 이름(인자){} -호출
*/

@import url(./reset.css);

@mixin fsBgCo($fontSize: 16px, $backgroundColor: grey, $color: #886464) {
    font-size: $fontSize;
    background-color: $backgroundColor;
    color: $color;
}

@mixin flexDirectJustiAlign($direct:row, $justi:space-between, $align:center){
    display: flex; //믹스인 즉시 플렉스
    flex-direction: $direct;
    justify-content: $justi;
    align-items: $align;

}
@mixin hover($color, $deco:none){
    color: $color;
    text-decoration: $deco;
    cursor: pointer;
}

header {
    @include flexDirectJustiAlign();
    @include fsBgCo(24px, pink, red);

    a {
        @include fsBgCo(default, default, default);
    }
    ul{
        display: flex;
    }
}
main {
    h2:hover{
        @include hover(red, underline)
    }
    span:hover{
        @include hover(blue, overline)
    }
}